{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
<div class="container mt-5">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">titre</th>
      <th scope="col">description</th>
      <th scope="col">couleur</th>
      <th scope="col">Collection</th>
      <th scope="col">Photo</th>
      <th scope="col">Prix</th>
      <th scope="col">Stock</th>
      <th scope="col">Date Enregistrement</th>
      <th scope="col">Actions</th>  
    </tr>
  </thead>
  <tbody>
  {% for produit in allProducts %}
    
  
    <tr class="table-active">
      <td>{{produit.id}}</td>
      <td>{{produit.titre}}</td>
      <td>{{produit.description}}</td>
      <td>{{produit.couleur}}</td>
      <td>{{produit.collection}}</td>
      <td><img src="{{ produit.photo }}" alt="" width="50"></td>
      <td>{{produit.prix}}</td>
      <td>{{produit.stock}}</td>
      <td>{{produit.dateEnregistrement|date('d/m/Y')}}</td>
      <td>
      <a href="{{ path('modifier_produit', {id: produit.id} ) }}"><i class="bi bi-pencil-square"></i></a>
      <a href="{{ path('supprimer_produit', {id: produit.id} ) }}"><i class="bi bi-trash3"></i></a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
